<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BTC Value Average</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .jumbotron {
        background-color: transparent;
        margin-bottom: 0px;
    }

    html{
        position: relative;
        min-height: 100%;
    }

    body{
        margin-bottom: 120px;
    }

    .footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 30px;
        background-color: #ccc
    }

    .footer p{
        margin: 5px 0;
        color: #717171

    }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <a href="/"><img src="{{url_for('static', filename='bitcoin_logo.png')}}" style="height:150px"/></a>
        </div>
        {% block body %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
                <p>The Bitcoin Value Average ©2016</p>
        </div>
    </footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
